.bigjas {
    display: flex;
    flex-direction: column;
    height: 90vh; 
}

.littlejas {
    flex: 1;
    overflow-y: auto;
    border: 2px solid #ccc;
}

/* make the color transparent eventually */
.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow-y: auto;
    max-width: 70%;
    word-wrap: break-word;
}

.text-wrapper {
    position: fixed;
    bottom: 20px;    
    left: 50%;       
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;     
}

.text-field {
    width: 50%;
    height: 40px; 
    border-radius: 15px;
    border: 2px solid #ccc;
    word-wrap: break-word;
}

